# * text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico binary

# Files managed by git-crypt
**secret** filter=git-crypt diff=git-crypt
**private** filter=git-crypt diff=git-crypt
restricted/** filter=git-crypt diff=git-crypt

keys/** filter=git-crypt diff=git-crypt

certs/** filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.crt filter=git-crypt diff=git-crypt
*.p12 filter=git-crypt diff=git-crypt

*.pub filter=git-crypt diff=git-crypt
*_rsa filter=git-crypt diff=git-crypt

key.* filter=git-crypt diff=git-crypt
cert.* filter=git-crypt diff=git-crypt
certs.* filter=git-crypt diff=git-crypt
